/* color palette */
:root {
  --first: #134074;
  --second: #13315C;
  --third: #0B2545;
  --fourth: #8DA9C4;
  --fifth: #EEF4ED;
}
 
.App {
  text-align: center;
  background-color: #134074;
  color: #EEF4ED;
}

.navbar {
  background-color: #13315C ;
}

.footer {
  background-color: #13315C;
}

ul {
  list-style: none;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
