/* color palette */
:root {
  --first: #134074;
  --second: #13315C;
  --third: #0B2545;
  --fourth: #8DA9C4;
  --fifth: #EEF4ED;
}
 
h1 {
padding-top: 15px;
}

.image {
  width: 366px;
  height: 200px;
}

.home {
  padding-left: 10px;
}

.App {
  text-align: center;
  /* background-color: var(--fourth); */
  background-image: linear-gradient(to bottom, #8DA9C4 0%, #13315C 100%);
  color: var(--fifth);
  /* !! see if there is anything better than viewheight to fix problem */
  height: 100vh;
}

.con-text {
  color: var(--fifth);
}

.me-img {
  width: 17% !important;
  height: 146px;
}

.navbar {
  background-color: var(--first) ;
  color: var(--fifth)
}

.footer {
  background-color: var(--first);
  position: fixed;
  bottom: 0px;
}

ul {
  list-style: none;
}

.links {
  color: var(--fifth) !important;
  text-decoration: none;
}

.links:hover {
  color: bisque
}

.links-port {
  text-decoration: none;
  /* height: 150px; */
}

a:hover {
  color: bisque;
  opacity:0.5;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
